.honble-prime-minister2 {
  font-weight: 500;
  font-family: var(--h1-left);
}
.global-south-centre-of-excelle {
  margin: 0;
}
.justo-eget-magna-container5 {
  position: absolute;
  top: 925px;
  left: calc(50% - 455px);
  font-size: var(--text-14-medium-size);
  line-height: 26px;
  color: var(--text);
  display: inline-block;
  width: 910px;
  height: 180px;
}
.divider53 {
  position: absolute;
  top: 903px;
  left: calc(50% + 23px);
  border-radius: var(--br-31xl);
  background-color: var(--orange);
  width: 1.8px;
  height: 45px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.more-people-more7 {
  position: absolute;
  top: 835px;
  left: calc(50% - 346px);
  line-height: 46px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  width: 693px;
  height: 48px;
}
.justo-eget-magna4,
.justo-eget-magna5 {
  position: absolute;
  top: 1751px;
  left: 270px;
  font-size: var(--text-14-medium-size);
  line-height: 26px;
  color: var(--text);
  display: inline-block;
  width: 900px;
  height: 95px;
}
.justo-eget-magna5 {
  top: 1941px;
  height: 217px;
}
.more-people-more8,
.more-people-more9 {
  position: absolute;
  top: 1696px;
  left: 318px;
  line-height: 46px;
  font-weight: 600;
  display: inline-block;
  width: 710px;
  height: 48px;
}
.more-people-more9 {
  top: 1888px;
  width: 548px;
  height: 46px;
}
.about-child {
  position: absolute;
  top: 1132.8px;
  left: calc(50% - 556px);
  width: 1112px;
  height: 483.2px;
  object-fit: cover;
}
.bg94 {
  background-color: var(--light-grey);
}
.bg94,
.divider54,
.mask-group-icon9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 408px;
}
.divider54 {
  top: 162.8px;
  left: 742.5px;
  border-radius: var(--br-31xl);
  background-color: var(--orange);
  width: 1.8px;
  height: 45px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.what-make-us-container {
  position: absolute;
  top: 100px;
  left: calc(50% - 356px);
  line-height: 46px;
  font-weight: 600;
  display: inline-block;
  width: 712px;
  height: 37.2px;
}
.educate,
.the-voice-of-container {
  position: absolute;
  width: 910px;
  height: 174.7px;
}
.the-voice-of-container {
  top: 0;
  left: 0;
  line-height: 22px;
  display: inline-block;
}
.educate {
  top: 190.6px;
  left: 265px;
  text-align: left;
  font-size: var(--text-14-medium-size);
  color: var(--text);
}
.what-make-us-different {
  position: absolute;
  top: 2207px;
  left: 0;
  width: 1440px;
  height: 408px;
  text-align: center;
}
.mortarboard-icon {
  position: absolute;
  top: 1703px;
  left: 270px;
  width: 33px;
  height: 33px;
}
.mortarboard-icon1 {
  position: absolute;
  top: 1891.2px;
  left: 275px;
  width: 34px;
  height: 33.8px;
}
.court-judge-svgrepocom-icon,
.vision-svgrepocom-icon {
  position: absolute;
  top: 1709px;
  left: 276px;
  width: 22px;
  height: 22px;
  overflow: hidden;
}
.court-judge-svgrepocom-icon {
  top: 1896px;
  left: 280px;
  width: 23px;
  height: 23px;
}
.at-the-vogs,
.educate1 {
  position: absolute;
  left: calc(50% - 450px);
  width: 900px;
  height: 58.9px;
}
.at-the-vogs {
  top: 0;
  line-height: 22px;
  display: inline-block;
}
.educate1 {
  top: 2790.6px;
  font-size: var(--text-16-medium-size);
  color: var(--text);
}
.divider55 {
  position: absolute;
  top: 2766.9px;
  left: 742.5px;
  border-radius: var(--br-31xl);
  background-color: var(--orange);
  width: 1.8px;
  height: 45px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.what-make-us {
  position: absolute;
  top: 2707px;
  left: calc(50% - 356px);
  line-height: 46px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  width: 712px;
  height: 37.2px;
}
.bg95 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--light-grey);
}
.heading17 {
  position: absolute;
  width: 84.55%;
  top: 31.43%;
  left: 4.06%;
  line-height: 26px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.plus-icon {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% + 418.5px);
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.bg98,
.faq-3,
.faq-4,
.faq-5 {
  position: absolute;
  top: 368px;
  left: 0;
  width: 975px;
  height: 70px;
}
.bg98,
.faq-4,
.faq-5 {
  top: 262px;
}
.bg98,
.faq-4 {
  top: 463px;
}
.bg98 {
  top: 0;
  border-radius: var(--br-3xs);
  background-color: var(--orange);
}
.global-south-young {
  position: absolute;
  top: 22px;
  left: 40px;
  line-height: 26px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 520px;
}
.in-an-increasingly-container {
  position: absolute;
  top: 95px;
  left: 42px;
  font-size: var(--text-14-medium-size);
  line-height: 22px;
  color: var(--text);
  display: inline-block;
  width: 826px;
}
.minus-1-icon {
  position: absolute;
  top: 25px;
  left: 901px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.active-faq-1,
.faq {
  position: absolute;
  width: 975px;
}
.active-faq-1 {
  top: 0;
  left: 0;
  height: 183px;
  color: var(--white);
}
.faq {
  top: 2886px;
  left: 242px;
  height: 533px;
  font-size: var(--h6-left-size);
}
.map-icon11 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.about-item,
.bg-map11 {
  position: absolute;
  height: 15.3%;
  width: 93.68%;
  top: 3.78%;
  right: 3.19%;
  bottom: 80.92%;
  left: 3.13%;
}
.bg-map11 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.about-item {
  background-color: var(--color-dimgray);
}
.voice-of-global8 {
  position: absolute;
  top: calc(50% - 1581.5px);
  left: calc(50% - 400px);
  font-size: var(--font-size-41xl);
  line-height: 60px;
  text-transform: uppercase;
  display: inline-block;
  color: var(--white);
  text-align: center;
  width: 800px;
}
.divider56 {
  position: absolute;
  height: 0.06%;
  width: 3.13%;
  top: 17.57%;
  right: 81.78%;
  bottom: 82.37%;
  left: 15.09%;
  border-radius: var(--br-31xl);
  background-color: var(--orange);
}
.div35 {
  position: relative;
  line-height: 26px;
  font-weight: 600;
}
.chevrons-right-icon11 {
  position: relative;
  width: 10px;
  height: 10px;
  overflow: hidden;
  flex-shrink: 0;
}
.div36 {
  position: relative;
  line-height: 26px;
  font-weight: 600;
  color: var(--white);
}
.bg99,
.crumbs9 {
  position: absolute;
}
.crumbs9 {
  height: 0.65%;
  width: 9.79%;
  top: 17.77%;
  right: 75.14%;
  bottom: 81.58%;
  left: 15.07%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--text-18-semibold-size);
  color: var(--orange);
}
.bg99 {
  height: 6.64%;
  width: 100%;
  top: 92.02%;
  right: 0;
  bottom: 1.33%;
  left: 0;
  background-color: var(--white);
}
.causes11,
.quick-links23 {
  position: absolute;
  width: 25.79%;
  left: 0;
}
.quick-links23 {
  height: 19.97%;
  top: 0;
  font-size: var(--h6-left-size);
  line-height: 26px;
  font-weight: 600;
  display: inline-block;
}
.causes11 {
  height: 16.92%;
  top: 31.56%;
  line-height: 22px;
  font-weight: 500;
  display: none;
}
.contact-us12,
.feedback13,
.terms-conditions11 {
  position: absolute;
  left: 0.02%;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
}
.contact-us12 {
  height: 16.67%;
  width: 16.43%;
  top: 40.78%;
  color: var(--color-black);
}
.feedback13,
.terms-conditions11 {
  height: 17.6%;
  width: 20.95%;
  top: 80.54%;
}
.terms-conditions11 {
  height: 15.74%;
  width: 27.66%;
  top: 40.78%;
  left: 30.86%;
}
.copyright-policy11,
.hyperlinking-policy12,
.news22,
.privacy-policy12 {
  position: absolute;
  width: 26.65%;
  left: 73.35%;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
}
.copyright-policy11 {
  height: 15.74%;
  top: 40.78%;
  color: inherit;
  text-decoration: none;
}
.hyperlinking-policy12,
.news22,
.privacy-policy12 {
  height: 16.67%;
  top: 83.33%;
}
.news22,
.privacy-policy12 {
  height: 15.74%;
  width: 27.66%;
  top: 82.4%;
  left: 30.86%;
}
.news22 {
  height: 16.92%;
  width: 25.79%;
  top: 128.51%;
  left: 0;
  display: none;
}
.quick-links22 {
  position: absolute;
  height: 2.98%;
  width: 45.35%;
  top: 93.53%;
  right: 13.06%;
  bottom: 3.5%;
  left: 41.6%;
  font-size: var(--text-16-medium-size);
}
.bg100 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--blue);
}
.global-south-centre13 {
  position: absolute;
  height: 31.49%;
  width: 36.46%;
  top: 34.35%;
  left: 31.77%;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
}
.opyright11 {
  position: absolute;
  height: 1.32%;
  width: 100%;
  top: 98.68%;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: var(--text-16-medium-size);
  color: var(--white);
}
.instagram-icon22 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.linkedin-svgrepo-com-1-icon22,
.twitter-x-122,
.youtube-icon22 {
  position: relative;
  width: 22.7px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.linkedin-svgrepo-com-1-icon22,
.twitter-x-122 {
  width: 17px;
  height: 22px;
}
.twitter-x-122 {
  width: 24px;
  height: 18px;
}
.social-media22 {
  position: absolute;
  top: calc(50% - 12.05px);
  left: calc(50% - 110.8px);
  width: 221.6px;
  height: 24.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.div37 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--secondary);
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.harity11,
.logo23 {
  position: relative;
  flex-shrink: 0;
}
.logo23 {
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.harity11 {
  line-height: 32px;
  font-weight: 600;
  display: none;
  width: 100px;
}
.info11,
.logo22 {
  position: absolute;
}
.logo22 {
  top: calc(50% - 228.85px);
  left: calc(50% - 111.1px);
  width: 136.6px;
  height: 48.3px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.info11 {
  top: calc(50% + 1823.1px);
  left: calc(50% - 562.3px);
  width: 221.6px;
  height: 24.1px;
  font-size: var(--h4-left-size);
}
.image-2023-07-28t08-57-14-028z-icon22 {
  position: absolute;
  top: 3716px;
  left: 157px;
  width: 128px;
  height: 68px;
  object-fit: cover;
}
.divider57 {
  position: absolute;
  height: 27.91%;
  top: 91.82%;
  bottom: -19.73%;
  left: calc(50% + 542px);
  border-radius: var(--br-31xl);
  background-color: var(--orange);
  width: 1px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  left: 152px;
}
.moea-1-icon11,
.pm-india-111 {
  position: absolute;
  top: 3525px;
  left: 221px;
  width: 184px;
  height: 96px;
  object-fit: cover;
}
.moea-1-icon11 {
  left: 402px;
}
.g20-1-icon11,
.mygov-1-icon11,
.niti-aayog-111,
.ris-1-icon11 {
  position: absolute;
  top: 3525px;
  left: 569px;
  width: 185px;
  height: 96px;
  object-fit: cover;
}
.mygov-1-icon11,
.niti-aayog-111,
.ris-1-icon11 {
  left: 741px;
  width: 184px;
}
.mygov-1-icon11,
.niti-aayog-111 {
  left: 907px;
}
.mygov-1-icon11 {
  left: 1033px;
  width: 185px;
}
.divider58 {
  position: absolute;
  top: 3500px;
  left: 1262px;
  border-radius: var(--br-31xl);
  background-color: var(--orange);
  width: 1px;
  height: 1109px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.bg101,
.bg102 {
  position: absolute;
  width: 99.95%;
  top: 0;
  right: 0;
  left: 0.05%;
  background-color: var(--blue);
  height: 40px;
}
.bg102 {
  right: 0.05%;
  left: 0;
}
.linkedin-svgrepo-com-1-icon23,
.twitter-x-123,
.youtube-icon23 {
  position: relative;
  width: 15px;
  height: 15px;
  overflow: hidden;
  flex-shrink: 0;
}
.twitter-x-123,
.youtube-icon23 {
  width: 21px;
  height: 16px;
}
.youtube-icon23 {
  width: 17px;
  height: 15px;
}
.social-media23 {
  position: absolute;
  top: 12.5px;
  right: 76.1px;
  background-color: var(--blue);
  width: 163px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.a13 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  width: 132px;
  flex-shrink: 0;
  text-decoration: none;
}
.phone-parent8 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.phone12 {
  position: absolute;
  top: 10px;
  left: 93.4px;
  width: 155px;
  height: 20px;
}
.infoharitycom11 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  width: 142px;
  flex-shrink: 0;
  text-decoration: none;
}
.email12 {
  position: absolute;
  top: 10px;
  left: 294.2px;
  background-color: var(--blue);
  width: 116.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.contacts11 {
  position: absolute;
  width: 99.98%;
  top: 1px;
  right: 0.02%;
  left: 0;
  height: 40px;
  font-size: var(--text-14-medium-size);
  color: var(--white);
}
.bg103 {
  position: absolute;
  height: 2.77%;
  width: 79.17%;
  top: 1.03%;
  right: 20.78%;
  bottom: 96.2%;
  left: 0.05%;
}
.about12,
.home24 {
  position: absolute;
  width: 11.24%;
  top: 4px;
  left: 14.4%;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
}
.home24 {
  width: 84.45%;
  top: 0;
  left: 0;
}
.plus-1-icon11 {
  position: absolute;
  height: 45.45%;
  width: 15.69%;
  top: 27.27%;
  right: -0.14%;
  bottom: 27.27%;
  left: 84.45%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home23 {
  position: absolute;
  height: 84.62%;
  width: 12.62%;
  top: 15.38%;
  right: 90.74%;
  bottom: 0;
  left: -3.36%;
  display: none;
  color: var(--orange);
}
.bharat-global11 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
}
.news23,
.pages11 {
  position: absolute;
  width: 38.06%;
  top: 4px;
  right: 0;
  left: 61.94%;
  height: 22px;
}
.pages11 {
  width: 19.72%;
  right: 46.35%;
  left: 33.93%;
}
.menu11,
.vector-icon15 {
  position: absolute;
  height: 26px;
}
.vector-icon15 {
  width: 6.11%;
  top: 0;
  right: 93.89%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
}
.menu11 {
  width: 39.3%;
  top: 81px;
  right: 19.92%;
  left: 40.78%;
  font-size: var(--text-16-medium-size);
}
.search11 {
  position: absolute;
  top: 0;
  left: -20px;
  line-height: 22px;
  text-transform: capitalize;
  font-weight: 600;
}
.search-icon11,
.txt24 {
  position: absolute;
  top: 18px;
}
.txt24 {
  left: 35px;
  width: 123px;
  height: 22px;
}
.search-icon11 {
  right: 11px;
  width: 23px;
  height: 23px;
  overflow: hidden;
}
.search-bar11 {
  position: absolute;
  width: 14.51%;
  top: 66px;
  right: 5.51%;
  left: 79.98%;
  border-radius: var(--br-8xs);
  border: 1px solid var(--secondary);
  box-sizing: border-box;
  height: 60px;
  font-size: var(--text-16-medium-size);
}
.image-2023-07-28t08-57-14-028z-icon23 {
  position: absolute;
  top: 59px;
  left: 91.7px;
  width: 120px;
  height: 61px;
  object-fit: cover;
}
.about11 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 3973px;
  overflow: hidden;
  text-align: left;
  font-size: var(--h2-left-size);
  color: var(--heading);
  font-family: var(--h1-left);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.accordion{
  /* max-width: 530px; */
  width: 100%;
  /* background: #FFF; */
  margin: 0 15px;
  padding: 15px;
  /* border-radius: 8px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2); */
  width: 970px;
}

.accordion .accordion-content{
  margin: 50px 0;
  border-radius: 10px;
  background: #F5F5F5;
  /* border: 1px solid #FFD6B3; */
  overflow: hidden;
}

.description{
  height: 93px;
    /* adding: 0px 20px; */
    padding: 10px 14px;
}

/* .accordion-content:nth-child(2){
  background-color: #F0FAFF;
  border-color: #CCEEFF;
}

.accordion-content:nth-child(3){
  background-color: #FFF0F3;
  border-color: #FFCCD6;
}

.accordion-content:nth-child(4){
  background-color: red;
  border-color: #CCCCFF;
} */

.accordion-content.open{
  /* padding-bottom: 10px; */
  padding-bottom: 20px;
}

.accordion-content header{
  display: flex;
  min-height: 65px;
  padding: 0 15px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s linear;
}

.accordion-content.open header {
  min-height: 65px;
  background-color: #ffcc00; /* Color when open */
}

.accordion-content.open .description{
  margin-top: 10px;
}

.accordion-content.open header .title {
  color: white; /* Text color when open */
}

.accordion-content header i {
  font-size: 15px;
  color: #333;

  
}

.accordion-content.open header i.fa-plus {
  color: white; /* Plus icon color when open */
}

.accordion-content.open header i.fa-minus {
  color: white; /* Minus icon color when open */
}

.accordion-content .description {



  height: 0;
  font-size: 14px;
  color: #333;
  font-weight: 400;
  padding: 0 15px;
  transition: all 0.2s linear;
}

.accordion-content.open header{
  min-height: 65px;
}
.accordion-content header .title{
  font-size: 20px;
  font-weight: 500;
  color: #333;
}
.header_link{
  text-decoration: none;
  color: var(--heading);
}

